body {
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.mustache {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    color: black;
    box-shadow: 
        150px 240px 0 0 currentColor,
        300px 240px 0 0 currentColor;
    top: 120px;
    left: 280px;
}

.mustache::before {
    content: '';
    position: absolute;
    left: 30px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate(-45deg);
    transform-origin: right 210px;
}

.mustache::after {
    content: '';
    position: absolute;
    left: 390px;
    top: 120px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate(40deg);
    transform-origin: left 210px;
}
.bandera {
    width: 300px;
    height: 180px;
    margin-top: 400px;
    background: linear-gradient(
        to bottom,
        red 33%,
        yellow 33%,
        yellow 66%,
        green 66%
    );
}
